*{
	text-align: center
}
body {
	background-color:antiquewhite;
	margin: auto;
	margin-top: 20px;
	width: 80%
}
div{
	padding: 10px;
	border-radius: 15px;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
}
h1{
	width:100%
}
.task{
	background-color:cadetblue;
}
.userData{
	padding: 10px;
	margin: 5px;
	background-color:azure;
	display:flex;
	flex-wrap: wrap;
}
.qr{
	text-align-last: left;
	width:400px;
}
.domain{
	width:100px;
}
.submit{
	padding: 10px;
	border-radius: 15px;
	border-style:groove;
	font-size: 24px;
}
